<mat-dialog-content [formGroup]="form" class="dialog-content">
    <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="titre">
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Date Debut / Date Fin</mat-label>
        <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
            <input matStartDate formControlName="datedebut" placeholder="Début">
            <input matEndDate formControlName="dateFin" placeholder="Fin">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-input">
        <mat-label>Lieu</mat-label>
        <input matInput formControlName="Lieu">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-button class="modern-cancel-button" (click)="close()">Annuler</button>
    <button mat-raised-button class="modern-save-button" (click)="save()">Enregistrer</button>
</mat-dialog-actions>